@media (hover: hover) and (pointer: fine) {
	.all:hover {
		transform: translateY(-1px);
	}

	.add:hover {
		box-shadow: 0px 10px 15px rgba(138, 201, 38, 0.25);
	}

	.cancel:hover {
		box-shadow: 0px 10px 15px rgba(255, 89, 94, 0.1);
	}

	.default:hover {
		box-shadow: 0px 10px 15px rgba(25, 130, 196, 0.1);
	}
}

.all {
	border-radius: 10px;
	text-align: center;
	padding: 10px 25px;
	cursor: pointer;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	transition: box-shadow ease-out 0.1s, transform ease-out 0.1s;
}

.all:disabled {
	opacity: 0.3;
	transition: none;
	transform: none;
}

.all:disabled:active:hover {
	opacity: 0.3;
	transition: none;
	transform: none;
}

.all:active:hover {
	box-shadow: none;
	transform: translateY(0px);
}

.default {
	background: #ffffff;
	border: 1px solid rgb(25, 130, 196);
	color: #1982c4;
}

.default:active:hover {
	border: 1px solid #15699e;
	color: #15699e;
}

.add {
	background: #ffffff;
	border: 1px solid #8ac926;
	color: #8ac926;
}

.add:active:hover {
	border: 1px solid #587c1d;
	color: #587c1d;
}

.cancel {
	background: #ffffff;
	border: 1px solid #ff595e;
	color: #ff595e;
}

.cancel:active:hover {
	border: 1px solid #e4141b;
	color: #e4141b;
}

@media (max-width: 768px) {
	.all {
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	.all {
		width: 100%;
	}
}
