@media (hover: hover) and (pointer: fine) {
}

.form {
	display: flex;
	margin-bottom: 15px;
}

.searchInput {
	width: 500px;
}

.inputGroup {
	position: relative;
	width: 100%;
}

.imgSearch {
	position: absolute;
	top: 30px;
	left: 12px
}

@media (max-width: 768px) {
	.searchInput {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.form {
		flex-direction: column;
	}
	.searchInput {
		margin-bottom: 3px;
	}
}
